/* Weather Engine */

$bg-very-cold-1: #7397a1;
$bg-very-cold-2: #3f2c41;
$bg-cold-1: #9fd3c2;
$bg-cold-2: #315b8a;
$bg-warm-1: #dcffd5;
$bg-warm-2: #1b7927;
$bg-hot-1: #e9f0c3;
$bg-hot-2: #c09e2d;
$bg-very-hot-1: #ffd78e;
$bg-very-hot-2: #c2451f;

$snow-animation-name: fall;
$snow-speed-1: 12s;
$snow-speed-2: 15s;
$snow-speed-3: 18s;
$snow-particle-blur-1: 1px;
$snow-particle-blur-2: $snow-particle-blur-1 * 2;
$snow-particle-blur-3: $snow-particle-blur-2 * 2;
$snow-particle-color: #ffffff;
$snow-particle-count: 200;
$snow-particle-opacity: 0.70;
$snow-particle-size-1: 1.1rem;
$snow-particle-size-2: 0.90rem;
$snow-particle-size-3: 0.70rem;

$hot-animation-name: rise;
$hot-speed-1: 16s;
$hot-speed-2: 19s;
$hot-speed-3: 22s;
$hot-particle-blur-1: 1px;
$hot-particle-blur-2: $hot-particle-blur-1 * 2;
$hot-particle-blur-3: $hot-particle-blur-2 * 2;
$hot-particle-color: #ffffff;
$hot-particle-count: 50;
$hot-particle-opacity: 0.30;
$hot-particle-size-1: 1.1rem;
$hot-particle-size-2: 0.90rem;
$hot-particle-size-3: 0.70rem;

.weather-container {
    width: 100vw;
    height: 99vh;
}

.bg-very-cold {
    background: radial-gradient(farthest-corner at 10vw 5vh, $bg-very-cold-1 1%, $bg-very-cold-2 100%);
}

.bg-cold {
    background: radial-gradient(farthest-corner at 10vw 5vh, $bg-cold-1 1%, $bg-cold-2 100%);
}

.bg-warm {
    background: radial-gradient(farthest-corner at 10vw 5vh, $bg-warm-1 1%, $bg-warm-2 100%);
}

.bg-hot {
    background: radial-gradient(farthest-corner at 10vw 5vh, $bg-hot-1 1%, $bg-hot-2 100%);
}

.bg-very-hot {
    background: radial-gradient(farthest-corner at 10vw 5vh, $bg-very-hot-1 1%, $bg-very-hot-2 100%);
}

/* Snow */

$s1: "";
$s2: "";
$s3: "";

@for $i from 1 through $snow-particle-count {
    $s1: $s1 + (random(1000) * 0.1vw) + " " + (random(1000) * 0.1vh) + " " + 0 + " " + (random(50) * -0.01rem) + $snow-particle-color;
    $s2: $s2 + (random(1000) * 0.1vw) + " " + (random(1000) * 0.1vh) + " " + 0 + " " + (random(50) * -0.01rem) + $snow-particle-color;
    $s3: $s3 + (random(1000) * 0.1vw) + " " + (random(1000) * 0.1vh) + " " + 0 + " " + (random(50) * -0.01rem) + $snow-particle-color;

    @if $i < $snow-particle-count {
        $s1: $s1 + ",";
        $s2: $s2 + ",";
        $s3: $s3 + ",";
    }
}

.snow-particle {
    border-radius: 50%;
    opacity: $snow-particle-opacity;

    position: absolute;
    top: -100vh;

    animation-name: $snow-animation-name;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.snow-layer-1 {
    width: $snow-particle-size-1;
    height: $snow-particle-size-1;
    filter: blur($snow-particle-blur-1);
    box-shadow: #{$s1};
    animation-duration: $snow-speed-1;
}
.snow-layer-1.other {
    animation-delay: -($snow-speed-1 / 2);
}

.snow-layer-2 {
    width: $snow-particle-size-2;
    height: $snow-particle-size-2;
    filter: blur($snow-particle-blur-2);
    box-shadow: #{$s2};
    animation-duration: $snow-speed-2;
}
.snow-layer-2.other {
    animation-delay: -($snow-speed-2 / 2);
}

.snow-layer-3 {
    width: $snow-particle-size-3;
    height: $snow-particle-size-3;
    filter: blur($snow-particle-blur-3);
    box-shadow: #{$s3};
    animation-delay: -($snow-speed-3 / 2);
}
.snow-layer-3.other {
    animation-delay: -5s;
}

@keyframes fall {
    100% {
        transform: translateY(200vh);
    }
}

/* Hot */

$h1: "";
$h2: "";
$h3: "";

@for $i from 1 through $hot-particle-count {
    $h1: $h1 + (random(1000) * 0.1vw) + " " + (random(1000) * 0.1vh) + " " + 0 + " " + (random(50) * -0.01rem) + $hot-particle-color;
    $h2: $h2 + (random(1000) * 0.1vw) + " " + (random(1000) * 0.1vh) + " " + 0 + " " + (random(50) * -0.01rem) + $hot-particle-color;
    $h3: $h3 + (random(1000) * 0.1vw) + " " + (random(1000) * 0.1vh) + " " + 0 + " " + (random(50) * -0.01rem) + $hot-particle-color;

    @if $i < $hot-particle-count {
        $h1: $h1 + ",";
        $h2: $h2 + ",";
        $h3: $h3 + ",";
    }
}

.hot-particle {
    border-radius: 50%;
    opacity: $hot-particle-opacity;

    position: absolute;
    bottom: 0vh;

    animation-name: $hot-animation-name;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.hot-layer-1 {
    width: $hot-particle-size-1;
    height: $hot-particle-size-1;
    filter: blur($hot-particle-blur-1);
    box-shadow: #{$h1};
    animation-duration: $hot-speed-1;
}
.hot-layer-1.other {
    animation-delay: -($hot-speed-1 / 2);
}

.hot-layer-2 {
    width: $hot-particle-size-2;
    height: $hot-particle-size-2;
    filter: blur($hot-particle-blur-2);
    box-shadow: #{$h2};
    animation-duration: $hot-speed-2;
}
.hot-layer-2.other {
    animation-delay: -($hot-speed-2 / 2);
}

.hot-layer-3 {
    width: $hot-particle-size-3;
    height: $hot-particle-size-3;
    filter: blur($hot-particle-blur-3);
    box-shadow: #{$h3};
    animation-duration: $hot-speed-3;
}
.hot-layer-3.other {
    animation-delay: -($hot-speed-3 / 2);
}

@keyframes rise {
    100% {
        transform: translateY(-200vh);
    }
}

/* Others */

.center-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    opacity: 0.85;
}

.custom-slider {
    margin-bottom: 15px;
    width: 100%;

    input[type=range] {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        border-radius: 5px;  
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    input[type=range]:hover {
        opacity: 1;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%; 
        background: #4CAF50;
        cursor: pointer;
    }

    input[type=range]::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }
}
